body {
    margin: 0px;
    background-color: whitesmoke;
}

header {
    text-align: center;
    background-color: rgb(142, 161, 178);
    padding-bottom: 10px;
    width: 95%;
    margin: 10px auto;
    border-width: 5px;
    border-style: double;
    height: 120px;
}

header h1 {
    font-family: 'Copperplate Gothic Light';
    font-size: 20px;
    margin-top: 0px;
}

span {
    font-size: 58px;
    font-family: 'Ink Free';
    color: rgb(164, 221, 240);
}

span:hover {
    font-size: 300%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: rgb(95, 113, 131);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rgb(164, 221, 240);
    border-style: solid;
}

button:hover {
    font-size: 90%;
}

button:active {
    font-size: 100%;
}

.content {
    margin: 30px 75px;
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
}

.canvas {
    width: 70%;
    border-style: solid;
    display: flex;
    padding: 0px;
}

.container {
    display: grid;
    height: 600px;
    width: 600px;
    gap: 0px;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.1);
}

.box:hover {
    background-color: lightgray;
}

.tool-container {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 130px;
}


#pencil {
    background-color: black;
    height: 100px;
    width: 10px;
    border-style: solid;
    border-end-end-radius: 100px;
    transform: translateX(70px) rotate(45deg);
    position: absolute;
}

#eraser {
    background-color: black;
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 8px;
    transform: translateX(65px) rotate(45deg);
    position: absolute;
}

#eraser:hover {
    cursor: cell;
}

#clickablePart:hover {
    cursor: cell;
}